@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  margin: 0px;
}

body {
  background-color: #F6FFF7;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:70%;
  max-width: 50rem;
  padding:10px 30px 10px 30px;
}

.navbarContent {
  padding: 0;
  width:100%;
  margin:0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
}

.navbarContent > a > strong {
  color:  #034732;
  text-decoration: none;
}

.navbarContent > li > a:hover {
  color: #efca52;
}

.navbarContent > li > a {
  color: #97948B;
  text-decoration: none;
}

main {
  color: #01130E;
  width:70%;
  max-width: 50rem;
  flex: auto;
}

h1 {
  margin-top: 1rem;
  color: #44BBA4;
}

footer {
  padding:10px 30px 10px 30px;
  gap: 1rem;
  width:70%;
  justify-content: center;
  color:#97948B;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-top: 30rem;
  flex-shrink: 0;
}

footer > a {
  text-decoration: none;
  color: #97948B;
}

p > a {
  text-decoration: none;
  color: #046244;
}

p > a:hover {
  text-decoration: none;
  color: #efca52;
}

table {
  margin: 1rem 0 1rem 0;
  line-height: 2;
  width: 100%;
  text-align: left;
}

.rCol {
  text-align: right;
}