@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  margin: 0px;
}

body{
  background-color: #034732;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
 
main{
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1 rem;
  width: 50%;
  max-width: 50rem;
}

.invitation{
  color: #44BBA4;
  align-self: center;
}

.map {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.map > li > a:hover {
  color: #E7BB41;
}

.map > li > a {
  color: #e7e5df;
  text-decoration: none;
}